* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  text-align: center;
  background-color: #cccccc;
  color: #812926;
}

.app {
  padding: 1rem;
}

h1 {
  font-size: 2.0rem;
  margin: 3rem;
}

input {
  appearance: none;
  outline: none;
  border: none;
  background: #eee;
  width: 100%;
  max-width: 300px;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  margin-right: 2rem;
}

@media screen and (max-width: 900px) {
  input {
    width: 80%;
    margin: 1.5rem auto;
  }
}

button, a {
  appearance: none;
  outline: none;
  border: none;
  background: none;
  color: #404040;
  font-size: 1rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  margin: 1rem auto;
}

@media screen and (max-width: 900px) {
  button {
    margin: 1.5rem auto;
  }
}

.App_img {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 0 auto;
}

@media screen and (max-width: 900px) {
  .App_img {
    max-width: 150px;
  }
}

.ilustrace {
  width: 50%;
  max-width: 80px;
}

.Hero {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 160px;
}

@media screen and (max-width: 900px) {
  .hero {
    width: 80%;
    display: block;
  }
}

.list {
  width: 45%;
  margin: 1rem auto;
  text-align: start;
  color: #404040;
}

@media screen and (max-width: 900px) {
  .list {
    width: 80%;
  }
}

.download {
  padding-bottom: 4rem;
  padding-top: 0.20rem;
  cursor: pointer;
  
}

footer a {
  position: fixed;
  left: 0;
  bottom: 3px;
  width: 100%;
  background-color: #cccccc;
  color: #4040409e;
  font-size: 10px;
}


.logo {
  width: 100%;
  max-width: 90px;
  max-height:90px;
  padding-right: 1rem;;
  margin-top: 1rem;
} 
.description { 
  color: #40404099;
  margin: 0.5rem 2rem 1rem 0.5rem;
  font-size: 0.9rem;

}

button { 
 border: 1px solid #812926;
 border-radius: 0.5rem;
 padding: 10px;
 background-color: #812926;
 color: #eee;

}
/*button:hover{
  background-color:#cccccc;
  color: #812926;
}*/

.input1 .input2{
  width: 100%;
}



.inputs{
  display: flex
  ;
  justify-content: center;
  
}
@media screen and (max-width: 900px) {
  .inputs { display: block ;

    
  }
  .description {
    margin-top: 0
  }
}

